<% var post = page %>
<h2><%= post.title %></h2>
<%- post.content %>

<div class="tagline" style="padding:60px 0">

<div class="tag_list">
<% if (post.tags && post.tags.length){ %>
<%- list_tags(post.tags, { show_count: false }) %>
<% } %>
</div>

<p style="margin-top:40px;">扫描下面的二维码，立即和你的好友分享这篇文章：</p>
<script type="text/javascript">  
thisURL = document.URL;  
strwrite = 
"<img src='https://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=L|4&chl="
 + thisURL + "' width='320' height='320' alt='该网址URL二维码' />"; 
document.write( strwrite );  
</script> 
