<% var post = page %>
<p>创业工程研究所 (网站 <a href="http://eri2.com">eri2.com</a> | 微信公众号 eri2com | 微博关注 @刘青焱 )</p>
<h2><%= post.title %></h2>
<%- post.content %>

<div class="tagline" style="padding:60px 0">

<div class="tag_list">
<% if (post.tags && post.tags.length){ %>
<%- list_tags(post.tags, { show_count: false }) %>
<% } %>
</div>

<p style="margin-top:40px;">Scan the QR and share the article (扫描二维码分享本文):</p>
<script type="text/javascript">  
thisURL = document.URL;  
strwrite = 
"<img src='http://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=L|4&chl="
 + thisURL + "' width='320' height='320' alt='该网址URL二维码' />"; 
document.write( strwrite );  
</script> 

<p><%= post.date %></p>
